<!DOCTYPE html>
<html>
<head>
  <title>Soundcloudxperiment</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!-- [if IE]  -->
  <%= stylesheet_link_tag 'ie', :media => 'screen, projection' %>
  <!-- [endif]-->
  <%= yield :css %>

  <!-- jQuery Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  <script type="text/javascript">
       //keep jQuery mobile from interfering with Backbone router
       $.extend(  $.mobile , {
           ajaxEnabled: false,
           linkBindingEnabled: false,
           hashListeningEnabled: false,
           pushStateEnabled: false
       });
  </script>
  
  <%
      c_id = 'cd521b6a922f4f24f8a6214259923770'
      r_uri = 'http://soundcloudxperiment.herokuapp.com/callback.html'
  %>
  
  <%#= javascript_include_tag 'jquery.min' %>  
  <%= javascript_include_tag 'underscore-min' %>
  <%= javascript_include_tag 'backbone-min' %>
  <%= javascript_include_tag 'backbone-localstorage' %>  <!-- #FIXME needed -->
  
  <%= javascript_include_tag 'handlebars' %>
  
  <script src="http://connect.soundcloud.com/sdk.js" type="text/JavaScript"></script>
  <script type="text/JavaScript">
      SC.initialize({
          client_id: "<%= c_id %>",
          redirect_uri: "<%= r_uri %>"
      });
  </script>
  
  <%= yield :extra_js %>

  <%= csrf_meta_tag %>
</head>
<body>

   <!-- Main Page  -->
   <div data-role="page" id="mainPage" data-fullscreen="true">
      <div id="mainHeader" data-role="header">
         
      </div>
      <div id="mainContent" data-role="content">
         <%= yield %>
      </div>
      <div id="mainFooter" data-role="footer" class="ui-bar" data-position='fixed'>
         <a href="index.html" data-role="button" data-icon="gear">Tag</a>
         <a href="index.html" data-role="button" data-icon="plus">Add to Playlist</a>
      </div>
   </div>

   <!-- DIALOGS -->
   <!--1-tags -->
   <div data-role="page" id="trackTagsDialog">
      <div data-role="header">
         <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Add or remove track tags</h1>
      </div>
      <div data-role="content" id="trackTagsDiv">
      </div>
   </div>

   <!--2-add to playlist -->
   <div data-role="page" id="addToPlaylistDialog">
      <div data-role="header">
         <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Add to playlist</h1>
      </div>
      <div data-role="content" id="addToPlaylistDiv">
      </div>
   </div>


</body>
</html>
