<!DOCTYPE html>
<html>
<head>
  <title>Soundcloudxperiment</title>
  <%= stylesheet_link_tag :all %>
  <%= yield :css %>
  <%= javascript_include_tag 'underscore-min' %>
  <%= javascript_include_tag 'backbone-min' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
